*._.DS_Store
.deps
Makefile.in


# /applications/gui/trunk/gui/
/applications/gui/trunk/gui/build

# /applications/gui/trunk/gui/conf/
/applications/gui/trunk/gui/conf/.DOISystemConfig.xml.swp


# /applications/gui/trunk/gui/src/edu/nrao/difx/difxview/
/applications/gui/trunk/gui/src/edu/nrao/difx/difxview/.DiFXManagerUI.java.swp

# /applications/gui/trunk/plotlib/
/applications/gui/trunk/plotlib/build

# /applications/gui/trunk/widgetlib/
/applications/gui/trunk/widgetlib/build

# /applications/gui/trunk/xmllib/
/applications/gui/trunk/xmllib/build


# /applications/mk5daemon/branches/mk6/src/

/applications/mk5daemon/branches/mk6/src/mk5daemon
/applications/mk5daemon/branches/mk6/src/Makefile

# /libraries/python/
/libraries/python/*.pyc
/libraries/python/*.bak

# /libraries/python/trunk/difxplot/
/libraries/python/trunk/difxplot/__pycache__
/libraries/python/trunk/difxplot/*.*~