MPIFXCORR CMD:      /home/rottmann/tmp/mpifxcorr
VEX2CONFIG CMD:     /home/rottmann/tmp/vex2config.pl
VEX2MODEL CMD:      /home/rottmann/tmp/vex2model.pl
VEX2MODELLIST CMD:  /home/rottmann/tmp/vex2modetimelist.pl
GETNODELIST CMD:    /home/rottmann/tmp/getnodelist.pl
GETPBSNODELIST CMD: /home/rottmann/tmp/getpbsnodelist.pl
GETQUEUES CMD:      /home/rottmann/tmp/getqueues
PBS WALLTIME HOURS: 48
QUEUE GATEWAY:      green
