body {
color: black; 
margin-left: 2%; 
margin-right: 2%;
background: #dddddd;
font-family: Verdana, sans-serif;
font-size: 10pt;
}
h1 { color: #006699; 
     border-bottom:solid; 
     border-color: gray; 
     border-bottom-width: thin; 
     font-size: 150%;;
     margin-bottom: 1em;
     margin-top 0;
     background: #dddddd; }   
h2 { color: #006699; 
     border-bottom:solid; 
     border-color: gray; 
     border-bottom-width: thin; 
     font-size: 140%;;
     margin-bottom: 1em;
     margin-top 0; }   
h3 { color: #006699; 
     font-size: 130%;
     margin-bottom: 1em;
     margin-top 0; }   
h4 { color: #006699; 
     font-size: 120%;
     margin-bottom: 1em;
     margin-top 0; }   
h5 { color: #006699; 
     font-size: 110%;
     margin-bottom: 1em;
     margin-top 0; }   
h6 { color: #006699; 
     font-size: 100%;
     margin-bottom: .5em; 
     margin-top: 0; }
pre { color: #993333; 
     font-family: monospace; }
     
.collapsibleList li{
  list-style-image:url('button.png');
  margin-left: -1em;
  cursor:auto;
}

li.collapsibleListOpen{
  list-style-image:url('triangledown_10x10_large.png');
  cursor:pointer;
}

li.collapsibleListClosed{
  list-style-image:url('triangleright_10x10_large.png');
  cursor:pointer;
}

ul {
	margin-left: -0.75em;
	}